.catalog {
  @include main-padding-inline;

  &__qty {
    @include base-grid-template;

    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-secondary-color);

    &-text {
      grid-column: 1 / -1;
    }
  }

  &__filter {
    @include base-grid-template;

    cursor: pointer;
    margin-top: 32px;

    @include on-tablet {
      margin-top: 40px;
    }

    &-item {
      display: flex;
      grid-column: span 2;
      flex-direction: column;
      gap: 4px;
      width: 100%;

      @include on-tablet {
        grid-column: span 3;
        max-width: 136px;
      }

      @include on-desktop {
        max-width: 128px;
      }

      &--sort {
        max-width: 187px;

        @include on-tablet {
          grid-column: span 4;
        }
      }
    }

    &-title {
      font-size: 12px;
      font-weight: 700;
      line-height: 100%;
      color: var(--gray-secondary-color);
    }
  }

  &__gadgets {
    @include base-grid-template;

    @include on-tablet {
      @include main-padding-inline;
    }

    row-gap: 40px;
    margin-top: 24px;
  }

  &__pagination {
    grid-column: 1 / -1;
  }
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;

  &__btn {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: inherit;

    border: 1px solid var(--gray-placeholders-color);

    background-position: center center;
    background-repeat: no-repeat;
    background-size: 6px;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &.left {
      background-image: url('../../assets/images/icons/slider-arrow-left.svg');
    }

    &.right {
      background-image: url('../../assets/images/icons/slider-arrow-right.svg');
    }

    &:hover {
      border: 1px solid var(--gray-primary-color);
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &.active {
      background-color: var(--gray-primary-color);
      color: rgba(255, 255, 255, 1);
      border: 1px solid var(--gray-primary-color);
    }
  }

  &__pages {
    display: flex;
    gap: 8px;
  }
}