.categories {
  @include base-grid-template;
  @include main-padding-inline;

  row-gap: 24px;
  margin-top: 56px;

  @include on-tablet {
    margin-top: 64px;
  }

  @include on-desktop {
    margin-top: 80px;
  }

  &__title {
    grid-column: 1 / -1;
    width: 100%;

  }

  &__list {
    @include base-grid-template;

    grid-column: 1 / -1;    
    row-gap: 32px;
  }

  &__category {
    grid-column: span 4;
    box-sizing: border-box;
    width: 100%;

    @include on-desktop {
      grid-column: span 8;
    }
  }
}