.card {
  display: flex;
  grid-column: span 3;
  flex-direction: column;
  row-gap: 8px;

  box-sizing: border-box;
  min-width: 212px;
  padding: 32px;
  border: 1px solid var(--gray-white-color);
  border-radius: 8px;

  color: var(--gray-primary-color);

  @include on-tablet {
    grid-column: span 5;
    width: 237px;
  }

  @include on-desktop {
    grid-column: span 6;
    width: 100%;
  }

  &.on__catalog {
    grid-column: span 4;
    width: 100%;
    
    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__img {
    cursor: zoom-in;

    display: block;
    justify-content: center;
    justify-items: center;
    justify-self: center;

    width: 100%;
    max-width: 148px;
    height: 100%;
    max-height: 129px;
    margin: 0 auto;
    border: 1px solid red;

    object-fit: contain;

    transition: all .3s ease-out;

    @include on-tablet {
      max-width: 173px;
      max-height: 181px;
    }

    @include on-desktop {
      max-width: 206px;
      max-height: 196px;
    }

    &:hover {
      position: absolute;
      transform: scale(1.43);
      animation: hover-img 0.3s ease forwards;
    }

    &-wrapper {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      max-width: 148px;
      height: 100%;
      max-height: 129px;

      @include on-tablet {
        max-width: 173px;
        max-height: 181px;
      }

      @include on-desktop {
        max-width: 206px;
        max-height: 196px;
      }
    }
  }

  &__title {
    display: flex;
    align-items: end;

    height: 58px;

    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;

    & a {
      &:hover {
        text-decoration: underline !important;
      }
    }
  }

  &__prices {
    display: flex;
    gap: 8px;

    box-sizing: border-box;

    font-size: 22px;
    font-weight: 800;
  }

  &__price {
    &.regular {
      font-weight: 400;
      color: var(--gray-secondary-color);
      text-decoration: line-through;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    padding: 0;
    background-color: var(--gray-white-color);
  }

  &__params {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-around;

    box-sizing: border-box;
    padding-block: 8px;

    font-size: 12px;
    line-height: 15px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__value {
    color: var(--gray-primary-color);
  }

  &__property {
    color: var(--gray-secondary-color);
  }

  &__buttons {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    margin-top: 8px;
  }

  &__btn-buy {
    cursor: pointer;

    box-sizing: border-box;
    width: 70%;
    padding-block: 9.5px;
    border: none;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: white;
    text-align: center;

    background-color: var(--accent-blue-color);

    transition: all .3s ease-in-out;

    &:hover {
      background-color: var(--accent-pink-color);
    }
  }

  &__btn-like {
    cursor: pointer;

    width: 40px;
    height: 40px;
    border: 1px solid var(--gray-placeholders-color);
    border-radius: 50%;

    background-color: inherit;
    background-image: url('../../assets/images/icons/like.svg');
    background-repeat: no-repeat;
    background-position: center center;

    transition: border .3s ease-in-out;

    &:hover {
      border: 1px solid var(--gray-primary-color);
    }

    &.selected {
      background-image: url('../../assets/images/icons/like-active.svg');
    }
  }
}

@keyframes hover-img {
  0% {
    top: 0;
  }
  25% {
    top: 5px;
  }
  50% {
    top: 10px;
  }
  75% {
    top: 15px;
  }

  100% {
    top: 15px;
  }
}