@mixin on-mobile {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin on-desktop-lg {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin main-padding-inline {
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-desktop {
    padding-inline: 32px;
  }
}

@mixin base-grid-template {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  justify-content: center;

  box-sizing: border-box;

  @include on-tablet {
    grid-template-columns: repeat(12, 1fr);
  }

  @include on-desktop {
    grid-template-columns: repeat(24, 32px);
  }
}

@mixin transition {
  transition: all .3s ease-in-out;
}