

:root {
  --accent-blue-color: #216CFF;
  --accent-pink-color: #F447AF;
  --gray-primary-color: #0F0F11;
  --gray-secondary-color: #89939A;
  --gray-placeholders-color: #B4BDC3;
  --gray-white-color: #E2E6E9;
  --header-height: 48px;
}